%form#modal-form.makros{ :onsubmit => 'sendModal("makros"); return false;', :onreset => 'closeModal(); return false;' }
  #modal-warning.error_message
  %div.modal-form-element
    %table#annotation-makros
      %tbody
        %tr
          %th{ :colspan => 2 } Annotation makros
        %tr
          %th Shortcut
          %th Annotations
        - if graph.anno_makros.length == 0
          = haml :makros_form_anno_row, :locals => {:i => 0}
        - else
          - graph.anno_makros.keys.each_with_index do |key, i|
            = haml :makros_form_anno_row, :locals => {:i => i, :key => key, :value => graph.anno_makros[key].map{|k, v| "#{k}:#{v}"} * ' '}
      %tbody
        %tr
          %td{:colspan => 2}
            %button{:onclick => 'newFormSegment("makros_form_anno_row", "#annotation-makros"); return false;'}
              Add annotation makro

  %div.modal-form-element
    %table#search-makros
      %tbody
        %tr
          %th{ :colspan => 2 } Search makros
        %tr
          %th Name
          %th Query
        - if graph.makros_plain.length == 0
          = haml :makros_form_search_row, :locals => {:i => 0, :name => '', :query => ''}
        - else
          - graph.makros_plain.each_with_index do |makro, i|
            = haml :makros_form_search_row, :locals => {:i => i, :name => makro.split(' ')[1], :query => makro.split(' ')[2..-1] * ' '}
      %tbody
        %tr
          %td{:colspan => 2}
            %button{:onclick => 'newFormSegment("makros_form_search_row", "#search-makros"); return false;'}
              Add search makro

  #modal-submit.bottom-block
    %input{ :type => 'reset', :value => 'Cancel' }
    %input{ :type => 'submit', :value => 'Save' }
