%form#modal-form.speakers{ :name => 'config', :onsubmit => 'sendSpeakers(); return false;', :onreset => 'closeModal(); return false;' }
  #modal-warning.error_message
  %div.modal-form-element
    %table
      %tbody
        %tr
          %th{ :colspan => 2 } Speakers
        %tr
          %th ID
          %th Attributes
        - if graph.speaker_nodes == []
          %tr{:no => '0'}
            %td
              %input{:name => "ids[0]", :type => "hidden"}
            %td
              %textarea{:name => "attributes[0]"}
        - else
          - graph.speaker_nodes.each_with_index do |speaker, i|
            %tr{:no => i}
              %td
                = 'ID: ' + speaker.id
                %input{:name => "ids[#{i}]", :type => "hidden", :value => speaker.id}
              %td
                %textarea{:name => "attributes[#{i}]"}
                  - speaker.attr.output.each do |k, v|
                    = "#{k}:#{v}&#10;"
      //%tbody
      //  %tr
      //    %td{:colspan => 2}
      //      %button#new-speaker Add speaker

  #modal-submit.bottom-block
    %input{ :type => 'reset', :value => 'Cancel' }
    %input{ :type => 'submit', :value => 'Save' }
